@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-h">Add</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/Admin/AddUser" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="fname">First Name:</label>
                        <div class="col-sm-10"> <input type="text" class="form-control" id="fname" placeholder="First Name" required name="FirstName"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lname">Last Name:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="lname" placeholder="Last Name" required name="LastName"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cnic">CNIC Number:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="cnic" placeholder="CNIC.." required name="CNICNumber"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="addrs">Address:</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="addrs" placeholder="Address" required name="Address"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 ">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


