
@using Return.Models
@model  StudentClassEnrollment



@{
    ViewBag.Title = "EnrolledStudentEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<User> users = ViewBag.User as List<User>;
    List<Class> classes = ViewBag.Class as List<Class>;
    List<Section> sections = ViewBag.Section as List<Section>;
}

<h2>EnrolledStudentEdit</h2>


<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-h">Add Student</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/Admin/EnrolledStudentEdit" method="post">
                    <input type="hidden" class="form-control" name="Id" value="@Model.Id">
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="secid">SectionId:</label>
                        <div class="col-sm-9">
                            <select name="SectionId" class="form-control">
                                @foreach (var item in sections)
                                {
                                    <option value="@item.Id"> @item.Class.Name - @item.Name </option>

                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 ">
                            <button type="submit" class="btn btn-info">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


