@using Return.Models
@model List<StudentClassEnrollment>
@{
    ViewBag.Title = "ViewClassroom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid table-responsive">
    <div>
        <h2>Enrolled Students</h2>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Class</th>
                <th>Section</th>
                <th>Class Incharge</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Student.FirstName</td>
                    <td>@item.Student.LastName</td>
                    <td>@item.Section.Class.Name</td>
                    <td>@item.Section.Name</td>
                    <td></td>
                    <td class="text-center action-btn-div">
                        <a class="btn btn-info btn-sm" href="/Admin/View/@item.Id"><spna class="glyphicon glyphicon-user"></spna> View</a>
                        <a class="btn btn-primary btn-sm" href="/Admin/EnrolledStudentEdit/@item.Id"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Admin/DeleteEnrolledStudent/@item.Id"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>








