@using Return.ViewModels
@model List<SubjectListSubjectViewModel>


@{
    ViewBag.Title = "ViewLectures";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid table-responsive">
        <h2>Lectures</h2>
    <div>
        <a href="/Admin/AddLecture" class="btn btn-warning add-btn">Add a Lecture</a>

    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subjectListSubjectViewModel in Model)
            {
                <tr>
                    <td>@subjectListSubjectViewModel.FirstName @subjectListSubjectViewModel.LastName</td>
                    <td>@subjectListSubjectViewModel.Name</td>
                    <td class="text-center action-btn-div">
                        <a class="btn btn-primary btn-sm" href="/Admin/EditLecture/@subjectListSubjectViewModel.SectionId"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Admin/DeleteLecture/@subjectListSubjectViewModel.SubjectId"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>








