
@using Return.Models
@model Class

@{
    ViewBag.Title = "ViewClassroom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>View Classroom</h2>
<div class="container">
    <div class="col-lg-6 col-lg-push-3">
        <div class="panel panel-info">
            <div class="panel-heading">User Data</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/Admin/ViewClassroom">
                    <input type="hidden" class="form-control" disabled value="@Model.Id">
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="classn">Class:</label>
                        <div class="col-sm-9"> <input type="text" class="form-control cursor-none" id="classn" placeholder="First Name" disabled required name="FirstName" value="@Model.Name"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="sec">Section:</label>
                        <div class="col-sm-9"><input type="text" class="form-control cursor-none" id="sec" placeholder="Section Id" disabled required name="SectionId" value="@Model.Section.Name"></div>
                    </div>
                    

                    <div class="text-center">
                        <a class="btn btn-info " href="/Admin/ManageClassrooms">Back</a>
                        <a class="btn btn-primary" href="/Admin/EditClassroom/@Model.Id">Edit</a>





                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



