
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Sign In</h2>
<div class="container">
    <div class="col-lg-6 col-lg-push-3">
        <div class="panel panel-info">
            <div class="panel-heading">Sign In</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/Account/Login" method="post">
                    @if (ViewBag.error != " ")
                    {
                        <p style="color:red;">@ViewBag.error</p>
                    }

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9"><input type="email" class="form-control " id="email" placeholder="Email.." required name="Email"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="pass">Password:</label>
                        <div class="col-sm-9"><input type="password" class="form-control" id="pass" placeholder="Password" required name="Password"></div>
                    </div>


                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-warning">Login</button>
                    </div>
                    <div>
                        <a style="float:right" href="/Account/Register">New to ReTurn? Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


